In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('../Data/telegram_data.csv')

In [29]:
df

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,14841,NaN,2024-09-26 12:24:51+00:00,photos\@sinayelj_14841.jpg
1,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,14840,NaN,2024-09-26 12:24:51+00:00,photos\@sinayelj_14840.jpg
2,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,14839,ለኮንዶሚኒየም ለጠባብ ቤቶች ገላግሌ የሆነ ከንፁህ የሲልከን ጥሬ እቃ የተ...,2024-09-26 12:24:51+00:00,photos\@sinayelj_14839.jpg
3,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,14838,NaN,2024-09-26 12:24:12+00:00,photos\@sinayelj_14838.jpg
4,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,14837,NaN,2024-09-26 12:24:12+00:00,photos\@sinayelj_14837.jpg
...,...,...,...,...,...,...
4618,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,599,NaN,2021-04-16 18:12:10+00:00,photos\@sinayelj_599.jpg
4619,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,598,Baby potty\n0905707448\n0945097042,2021-04-16 18:12:10+00:00,photos\@sinayelj_598.jpg
4620,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,197,NaN,2020-11-26 18:30:52+00:00,NaN
4621,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,182,ውድ የሲና ኪድስ ደምበኞች በድጋሚ ገብቷል \nየመዋኛ ገንዳ ትልቅ ሳይዝ ...,2020-11-10 06:59:31+00:00,photos\@sinayelj_182.jpg
4622,SINA KIDS/ሲና ኪድስⓇ,@sinayelj,1,NaN,2020-07-24 10:50:43+00:00,NaN

In [31]:
df_message = df['Message']

In [32]:
df_message

0                                                     NaN
1                                                     NaN
2       ለኮንዶሚኒየም ለጠባብ ቤቶች ገላግሌ የሆነ ከንፁህ የሲልከን ጥሬ እቃ የተ...
3                                                     NaN
4                                                     NaN
                              ...
4618                                                  NaN
4619                   Baby potty\n0905707448\n0945097042
4620                                                  NaN
4621    ውድ የሲና ኪድስ ደምበኞች በድጋሚ ገብቷል \nየመዋኛ ገንዳ ትልቅ ሳይዝ ...
4622                                                  NaN
Name: Message, Length: 4623, dtype: object

In [33]:
df_message.shape

(4623,)

In [35]:
df_message.isnull().sum()

3268

In [36]:
df_message.dropna(inplace=True)

In [37]:
df_message.head()

2     ለኮንዶሚኒየም ለጠባብ ቤቶች ገላግሌ የሆነ ከንፁህ የሲልከን ጥሬ እቃ የተ...
6     Baby romper   ከላዩ ፈር ውስጡ ኮተን የሆነ\n\n2000 birr\...
9     Chicco 5 in 1 mama bag\nኦሪጅናል ማቴሪያል\nበሳይዙ ትልቅ\...
16    aiebao HIP SEAT CARRIER\nምቹ ጠንካራ የልጆች ማዘያ\nበተለ...
26    Kids mat  \n\n💥4100 ብር\n\nSize 1.80*2m\n\nfree...
Name: Message, dtype: object

In [38]:
df_message.shape

(1355,)

In [39]:
df_message.to_csv('../Data/cleaned.csv', index=False)